%% Erlang compiler options
%% From http://damntechnology.blogspot.com/2011/08/starting-with-rebar.html

{erl_opts, [{i, "test"}, {src_dirs, ["src"]},
            {platform_define,
            "(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
            {platform_define, "(linux|freebsd)", 'BACKLOG', 128}]}.
{deps, [{gproc, ".*", {git, "https://github.com/uwiger/gproc.git"}}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
